.mapa-wrapper {
    position: relative; /* âncora para os botões absolutos */
    display: inline-block; /* abraça exatamente a imagem */
    line-height: 0; /* evita espaço extra embaixo da imagem */
}

.ponto-mapa {
    position: absolute;
    background-color: rgb(22, 207, 62);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: transform 0.2s, background-color 0.2s;
    font-weight: bold;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    padding: 2px 5px;
    box-sizing: border-box;
}

.ponto-mapa:hover {
    background-color: rgb(28, 214, 3);
    transform: translate(-50%, -50%) scale(1.05);
}