.dark-toggle{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999;
}

.dark-btn{
    width: 130px;
    height: 45px;

    border: none;
    border-radius: 25px;

    background: #1f1f1f;
    color: white;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    transition: all 0.3s ease;
}

.dark-btn:hover{
    background: #333;
    transform: scale(1.05);
}

.dark-btn.ativo{
    background: #39d400;
}

/* Modo escuro */

body.modo-escuro {
    background: #121212;
    color: white;
}

body.modo-escuro .container {
    background: #1e1e1e;
}

body.modo-escuro .header {
    background: #1e1e1e;
}

body.modo-escuro .header-content {
    background: #2a2a2a;
}

body.modo-escuro #searchInput {
    color: white;
}

body.modo-escuro .modal-content {
    background: #1e1e1e;
}

body.modo-escuro .curso-card,
body.modo-escuro .local {
    background: #2a2a2a;
}

body.modo-escuro p,
body.modo-escuro li,
body.modo-escuro h1,
body.modo-escuro h2,
body.modo-escuro h3,
body.modo-escuro h4,
body.modo-escuro strong {
    color: white;
}

/* Celulares */
@media (max-width: 768px) {

    .dark-toggle{
        top: 8px;
        right: 10px;
    }

    .dark-btn{
        width: 130px;
        height: 38px;
        font-size: 12px;
    }

}